<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HyperCalc.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <HyperCalc.My.MySettings>
            <setting name="OverallPrecision" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="QuotientPrec" serializeAs="String">
                <value>44</value>
            </setting>
            <setting name="nIterations" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DivPrecXL" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="DisplayDigitsDec" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="ConversionDecPrec" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="ApplyOverallPrec" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nIterationsRoots" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="RootPrec" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="DivMethodType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DivPrecQuick" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DivPrecNewton" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="nIterationsDivNewton" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SqrMethodType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DivPrecLog" serializeAs="String">
                <value>40</value>
            </setting>
        </HyperCalc.My.MySettings>
    </userSettings>
</configuration>